<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ssafy.soda.model.dao.UserDao">
  
  	<select id="selectAll" resultType="User">
  		select *
  		from user
   	</select>
  	
  	<delete id="deleteUser" parameterType="int">
  		delete from user
  		where user_no= #{no}
  	</delete>
  
  	<select id="selectByNo" resultType="User" parameterType="int">
  		select *
  		from user
  		where user_no = #{userNo}
  	</select>
  	
  	<update id="update" parameterType="User">
  		update user set password=#{password}, name=#{name}, email=#{email}, phone_number=#{phoneNumber}, 
  		birth_date=#{birthDate}, gender=#{gender}, address=#{address}, detail_address =#{detailAddress}, 
  		zonecode=#{zonecode}, user_reg_date =#{userRegDate}
  		where user_no = #{userNo}
  	</update>
  
  
  
  </mapper>