<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.soda.model.dao.BoardDao">

	<select id="selectAll" resultType="Board">
		select * from board
	</select>

	<select id="seletByNo" resultType="Board" parameterType="int">
		select b.*,
		u.user_no as "user.userNo",
		u.user_id as "user.userId"
		
		
		from board b
		left join user u on b.user_no = u.user_no
		where board_no=#{boardNo}

	</select>

	<delete id="delete" parameterType="int">
		delete from board
		where
		board_no=#{boardNo}

	</delete>

	<select id="selectSearched" resultType="Board"
		parameterType="searchCondition">
		select * from board
		<where>
			<if test="category =='all'">
			</if>
			<if test="category == 'title'">
				title like CONCAT('%', #{keyword},'%')
			</if>
			<if test="category == 'content'">
				content like CONCAT('%', #{keyword},'%')
			</if>
			<if test="category == 'writer'">
				writer like CONCAT('%', #{keyword},'%')
			</if>
		</where>
	</select>

</mapper>