<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.soda.model.dao.UserDao">
	<select id="selectAll" resultType="User">
		SELECT *
		FROM user
		ORDER BY
		user_reg_date DESC
	</select>

	<select id="selectByNo" resultType="User" parameterType="int">
		SELECT *
		FROM user
		WHERE user_no = #{no}
	</select>

	<update id="update" parameterType="User">
		UPDATE user SET password = #{password}, name = #{name}, email = #{email}, phone_number = #{phoneNumber}, birth_date = #{birthDate}, gender= #{gender}, address= #{address}, detail_address = #{detailAddress} ,zonecode = #{zonecode}
		WHERE user_no = #{userNo}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE from user
		WHERE user_no = #{no}
	</delete>
	
	<select id="selectSearched" resultType="User" parameterType="SearchCondition">
		SELECT *
		FROM user
		<where>
        <if test="category == 'name'">
            name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="category == 'user_id'">
            user_id LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="category == 'email'">
            email LIKE CONCAT('%', #{keyword}, '%')
        </if>
    	</where>
	</select>
	
	<select id="findById" parameterType="String" resultType="User">
		select * 
		from user
		where user_id = #{userId}
	</select>

	<insert id="save" parameterType="user">
	
	    INSERT INTO user (
        user_id, 
        user_nickname,
        password,
        name,
        email,
        phone_number,
        birth_date,
        gender,
        address,
        detail_address,
        zonecode,
        user_reg_date
    ) VALUES (
        #{userId},
        #{userNickname},
        #{password},
        #{name},
        #{email},
        #{phoneNumber},
        #{birthDate},
        #{gender},
        #{address},
        #{detailAddress},
        #{zonecode},
        NOW()
    )
	
	</insert>	
	<select id="findByUserName" parameterType="String" resultType="User">
		select * 
		from user
		where name = #{name}
	</select>
	
</mapper>